.welcome {
  padding-top: 2rem;
  p {
    text-align: center;
    min-width: 600px;
    font-size: 30px;
    margin: 0.5rem 0;
  }

  a {
    text-decoration: none;
    margin: 2rem 0;
    font-size: 30px;
  }
}
