$white: #ffffff;
$black: #000000;
$gray-900: #212121;
$gray-800: #424242;
$gray-600: #757575;
$gray-100: #fbfaff;

$pink-400: #e040fb;
$pink-500: #d500f9;

$font-poppins: "Poppins", sans-serif;
$font-quick-sand: "Quicksand", sans-serif;

// breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;
$extra-4k: 2560px;
